@import url('//fonts.googleapis.com/css?family=Pacifico&text=Pure');
@import url('//fonts.googleapis.com/css?family=Roboto:700&text=css');
@import url('//fonts.googleapis.com/css?family=Kaushan+Script&text=!');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  margin: 0;
  padding: 0;
}

.culture-font{
    font: 30px 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS',
    Helvetica, sans-serif;
}

.white-smoke{
    color: whitesmoke;
}